<a href="https://colab.research.google.com/github/Lakshmigundala/CodeClause_Loan-prediction/blob/main/loan_prediction1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import svm
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [ ]:
data=pd.read_csv('/content/train_u6lujuX_CVtuZ9i (1) (1).csv')
print(data)

      Loan_ID  Gender Married Dependents     Education Self_Employed  \
0    LP001002    Male      No          0      Graduate            No
1    LP001003    Male     Yes          1      Graduate            No
2    LP001005    Male     Yes          0      Graduate           Yes
3    LP001006    Male     Yes          0  Not Graduate            No
4    LP001008    Male      No          0      Graduate            No
..        ...     ...     ...        ...           ...           ...
609  LP002978  Female      No          0      Graduate            No
610  LP002979    Male     Yes         3+      Graduate            No
611  LP002983    Male     Yes          1      Graduate            No
612  LP002984    Male     Yes          2      Graduate            No
613  LP002990  Female      No          0      Graduate           Yes

     ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0               5849                0.0         NaN             360.0
1               4583             1508.0       128.0             360.0
2               3000                0.0        66.0             360.0
3               2583             2358.0       120.0             360.0
4               6000                0.0       141.0             360.0
..               ...                ...         ...               ...
609             2900                0.0        71.0             360.0
610             4106                0.0        40.0             180.0
611             8072              240.0       253.0             360.0
612             7583                0.0       187.0             360.0
613             4583                0.0       133.0             360.0

     Credit_History Property_Area Loan_Status
0               1.0         Urban           Y
1               1.0         Rural           N
2               1.0         Urban           Y
3               1.0         Urban           Y
4               1.0         Urban           Y
..              ...           ...         ...
609             1.0         Rural           Y
610             1.0         Rural           Y
611             1.0         Urban           Y
612             1.0         Urban           Y
613             0.0     Semiurban           N

[614 rows x 13 columns]

In [ ]:
data.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [ ]:
data.shape

(614, 13)

In [ ]:
data.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

To get rid of the missing values

In [ ]:
data =data.dropna()

Checking whether there are any missing values

Label encoding

In [ ]:
from sklearn.preprocessing import LabelEncoder
Le = LabelEncoder()
for cols in data.columns[1:]:
  data[cols] = Le.fit_transform(data[cols])
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 480 entries, 1 to 613
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Loan_ID            480 non-null    object
 1   Gender             480 non-null    int64
 2   Married            480 non-null    int64
 3   Dependents         480 non-null    int64
 4   Education          480 non-null    int64
 5   Self_Employed      480 non-null    int64
 6   ApplicantIncome    480 non-null    int64
 7   CoapplicantIncome  480 non-null    int64
 8   LoanAmount         480 non-null    int64
 9   Loan_Amount_Term   480 non-null    int64
 10  Credit_History     480 non-null    int64
 11  Property_Area      480 non-null    int64
 12  Loan_Status        480 non-null    int64
dtypes: int64(12), object(1)
memory usage: 52.5+ KB

In [ ]:
data['Dependents'].value_counts()

0     274
2      85
1      80
3+     41
Name: Dependents, dtype: int64

splitting data

In [ ]:
X = data.drop(columns=['Loan_ID','Loan_Status'],axis=1)
Y =data['Loan_Status']

In [ ]:
X_train, X_test, Y_train, Y_test= train_test_split(X,Y,test_size=0.1,random_state=2)

SVM

In [ ]:
classifier = svm.SVC(kernel='linear')

In [ ]:
classifier.fit(X_train,Y_train)

SVC(kernel='linear')

In [ ]:
y_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report, accuracy_score
print(classification_report(Y_test,y_pred))

              precision    recall  f1-score   support

           0       1.00      0.47      0.64        15
           1       0.80      1.00      0.89        33

    accuracy                           0.83        48
   macro avg       0.90      0.73      0.76        48
weighted avg       0.87      0.83      0.81        48

In [ ]:
round(accuracy_score(Y_test,y_pred),2)*100

83.0